
src/GuitarShapes.xcodeproj/project.xcworkspace/xcuserdata/corin.xcuserdatad/UserInterfaceState.xcuserstate

src/GuitarShapes.xcodeproj/xcuserdata/corin.xcuserdatad/xcschemes/GuitarShapes.xcscheme

src/GuitarShapes.xcodeproj/xcuserdata/corin.xcuserdatad/xcschemes/xcschememanagement.plist
