
src/GuitarShapes.xcodeproj/project.xcworkspace/xcuserdata/corin.xcuserdatad/UserInterfaceState.xcuserstate

src/GuitarShapes.xcodeproj/xcuserdata/corin.xcuserdatad/xcschemes/GuitarShapes.xcscheme

src/GuitarShapes.xcodeproj/xcuserdata/corin.xcuserdatad/xcschemes/xcschememanagement.plist
src/GuitarShapes.xcodeproj/project.xcworkspace/xcshareddata/GuitarShapes.xccheckout
src/GuitarShapes.xcodeproj/project.xcworkspace/xcuserdata/corin.xcuserdatad/xcdebugger/Expressions.xcexplist
src/GuitarShapes.xcodeproj/xcuserdata/corin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
